In [21]:
#importar librerias
#!pip install pandas
#!pip install numpy
import pandas as pd
import glob
import numpy as np


import pandas as pd

# Cargar archivo descargado
df = pd.read_excel(r'C:\Users\CRISTIAN\Desktop\Lista.xlsx')

# Mostrar las primeras filas del DataFrame
print(df.head())

      ID                   Nombre completo Fecha de nacimiento  \
0  C0001            Leandra Anna Malo Alba          1984-12-08
1  C0002           Severo Granados Iglesia          1986-08-12
2  C0003                 Lucho Andreu Amat          1990-04-16
3  C0004  Matías Mauricio Castillo Barrera          1996-12-02
4  C0005        Mauricio Guijarro Castelló          1984-05-14

              Dirección Localidad y Código postal        Teléfono  \
0  7943 S. Fifth Street     Bergenfield, NJ 07621  (598) 451-5865
1        77 Lyme Street       Hermitage, TN 37076  (869) 771-1487
2    9448 Fairfield St.        Aberdeen, SD 57401  (246) 245-7306
3      8143 College St.      Trussville, AL 35173  (707) 933-2513
4     9893 W. Vale Ave.        Billings, MT 59101  (612) 325-0216

      Correo electrónico       Fecha de alta Grupo de clientes
0         uraeus@mac.com 2012-01-19 14:32:31                 A
1           bhima@me.com 2005-03-22 15:42:12                 E
2  psichel@sbcglobal.net 2007-09-15 03:01:11                 E
3    tbeck@optonline.net 2011-12-07 15:22:50                 E
4         eegsa@yahoo.ca 2008-06-28 06:58:06                 D

(999, 9)

In [23]:
#ver filas y columnas 
df.shape

(999, 9)

In [33]:
#CAMBIAR LAS COLUMNAS
df=df.rename(columns={'ID': 'ID','Nombre completo':'nomb com','Fecha de nacimiento':'F NAC','Dirección Localidad y Código postal':'D L y C P','Teléfono':'TEL','Correo electrónico':'GMAIL','Fecha de alta':'Fecha de alta','Grupo de clientes':'F CLIEN'})
df.head(1)

,ID,nomb com,F NAC,Dirección,Localidad y Código postal,TEL,GMAIL,Fecha de alta,F CLIEN
0,C0001,Leandra Anna Malo Alba,1984-12-08,7943 S. Fifth Street,"Bergenfield, NJ 07621",(598) 451-5865,uraeus@mac.com,2012-01-19 14:32:31,A

In [51]:
#limpiar hora.
df=df.replace(to_replace=r'.\(.+\)$', value='', regex=True)
df.head(1)

,ID,nomb com,F NAC,Dirección,Localidad y Código postal,TEL,GMAIL,Fecha de alta,F CLIEN
0,C0001,Leandra Anna Malo Alba,1984-12-08,7943 S. Fifth Street,"Bergenfield, NJ 07621",(598) 451-5865,uraeus@mac.com,2012-01-19 14:32:31,A